html
    head
        title Login
        script(src = "https://cdn.tailwindcss.com")
    body.w-screen.h-screen.bg-gray-900.text-gray-300.flex.flex-col.justify-center.items-center
        form.w-500px.bg-slate-800.p-10.rounded-lg.flex.flex-col.items-center.justify-center
            input.w-full.p-2.m-2.bg-slate-700.rounded-lg.text-gray-300
            input.w-full.p-2.m-2.bg-slate-700.rounded-lg.text-gray-300
            button.w-full.p-2.m-2.bg-slate-700.rounded-lg.text-gray-300 Login


